@import 'breakpoints';

.video {
	$parent: &;

	&:not(:last-child) {
		margin: 0 0 70px 0;
	}

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	&__preview {
		position: relative;
		overflow: hidden;

		img {
			z-index: 11;

			#{$parent}--played & {
				z-index: 8;
			}
		}
	}

	&--inline {
		/*
		#{$parent}__preview {
			img {
				position: absolute;
			}
		}*/
	}

	&__play {
		border: none;
		cursor: pointer;
		display: block;
		width: 50px;
		height: 50px;
		background: #000;
		opacity: 0.8;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 15;
		opacity: 1;
		transition: all 0.3s;

		color: #fff;

		@include breakpoint($md) {
			width: 86px;
			height: 86px;
		}
	}

	&__arrow {
		width: 50%;
		height: 50%;
	}

	&__wrapper {
		display: block;
		position: relative;
		height: 0;
		overflow: hidden;
		line-height: 1;
		padding-bottom: 56.25%;

		iframe {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}

	&--inline {
		#{$parent}__wrapper {
			//position: absolute;
			/*
			top: 0;
			left: 0;
			width: 100%;
			z-index: 10;
			*/
		}
	}

	&--playing {
		#{$parent}__play {
			opacity: 0;
			pointer-events: none;
		}
	}

	/*
	&--inview
	{
		outline:4px solid var(--clr-success);

		#{$parent}__wrapper
		{
			position: fixed;
			top:0;
			right:0;
			width: 300px;
			height:200px;
			z-index: 500;
		}
	}
	*/
}
